/************Helpers************/
.flex-row{
   /* Flex row rules */
    display: flex;
    display:-webkit-flex;
    display:-moz-flex;    
    
    flex-flow:row wrap;
    -moz-flex-flow:row wrap;
    -webkit-flex-flow:row wrap;

    justify-content:flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;

    align-items:flex-start;  
    -moz-align-items: flex-start;  
    -webkit-align-items:flex-start;    
}

.flex-column-center{
   /* Flex row rules */
    display: flex;
    display:-webkit-flex;
    display:-moz-flex;    
    
    flex-flow:column wrap;
    -moz-flex-flow:column wrap;
    -webkit-flex-flow:column wrap;

    justify-content:center;
    -moz-justify-content: center;
    -webkit-justify-content: center;

    align-items:center;  
    -moz-align-items: center;  
    -webkit-align-items:center;    
}

.flex-equal-items{
  flex:1;
  -moz-flex:1;
  -webkit-flex:1;
}

.vertical-center{
   /* Flex row rules */
    display: flex;
    display:-webkit-flex;
    display:-moz-flex;    
    
    flex-flow:row wrap;
    -moz-flex-flow:row wrap;
    -webkit-flex-flow:row wrap;

    justify-content:flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;

    align-items:center;  
    -moz-align-items: center;  
    -webkit-align-items:center;    
}

.horizontal-center{
   /* Flex row rules */
    display: flex;
    display:-webkit-flex;
    display:-moz-flex;    
    
    flex-flow:row wrap;
    -moz-flex-flow:row wrap;
    -webkit-flex-flow:row wrap;

    justify-content:center;
    -moz-justify-content:center;
    -webkit-justify-content:center;

    align-items:flex-start;  
    -moz-align-items:flex-start;  
    -webkit-align-items:flex-start;    
}

.default-inputfield{
    border:none;
}
.default-inputfield:focus{
    outline: none;
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }


/**********App CSS*********/
.map-wrapper{
	width:100%;
	height: 300px;		
}
.search-wrapper{
	width:100%;
	height: 55px;	
	background-color: #494949;
}
.event-wrapper{
	margin-top:25px;
	margin-bottom:25px;
}
.event-header,.event-bx{
	width:100%;	
	border:1px solid gray;
	margin-top: 33px;
	background-color: #D8D8D8;
}
.event-header{
	height:45px;
}
.event-bx{
	min-height:174px;
	height: auto;
	max-height: 240px;
	padding: 12px;
}
.each-line{
	width:100%;	
	margin-top: 4px;
}
.event-cat-name{
	padding-right:6px;
	color:#8C8C8C;	
}
.show-map-btn,.log-out-btn{
	background-color: white;
	border:1px solid #AFAEAE;
	padding-top:1.5px;
	padding-bottom:1.5px;
	color:#666666;
	margin-left: 4.5px;
}

.login-wrapper{
	height:400px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: white;
	padding:40px 20px 40px 20px;
}

.admin-login-input{
	height:40px;
	width:100%;
	border:1px solid gray;
	padding-left:6px;
	font-size:18px;
}

.admin-login-btn{
	width:100%;
	height:100%;
	font-size: 18px;
}
.admin-login-btn:hover{
	background-color:#0362AA; 
	color:white;
}
.menu-wrapper{
	width:100%;
	height: 60px;	
	border:1px solid gray;	
	background-color: #D8D8D8;
}
.admin-eventlist-wrapper{
	margin-top:30px;
	margin-bottom:30px;
}

.admin-event-bx{
	margin-top:20px;
	width:100%;
	height: auto;	
	border:1px solid gray;		
	background-color: #F7F5F5;
	padding: 6px 12px 6px 12px;
}
.admin-event-bx .shrink-bx{	
	width:100%;
	min-height: 36px;
	height: auto;
	max-height: 95px;
}

.admin-event-btn{
	background-color: white;
	border:1px solid #AFAEAE;
	padding-top:2.5px;
	padding-bottom:2.5px;
	color:#666666;
	margin-left: 20px;
	width:70px;
	margin-top: 2px;	
}
.admin-event-btn:first-child{
	background-color: white;
	border:1px solid #AFAEAE;
	padding-top:2.5px;
	padding-bottom:2.5px;
	color:#666666;	
	width:70px;	
	margin-top: 2px;
}
.add-event-btn{
	background-color: white;
	border:1px solid #AFAEAE;
	padding-top:2.5px;
	padding-bottom:2.5px;
	color:#666666;
	margin-left: 20px;
	width:140px;
	margin-top: 2px;
	height: 36px;
}

.admin-event-bx .expand-bx{	
	width:100%;
	min-height: 400px;
	height: auto;
	padding:4% 0% 4% 6%;
	margin-top: 20px; 	
}

.event-form-input{
	height:31px;
	width:70%;
	min-width:160px;
	border:1px solid #C4C4C4;
	padding-left:6px;
	font-size:14px;
	border-radius: 2px;
}
.event-form-textarea{
	height:90px;
	width:70%;
	min-width:160px;
	border:1px solid #C4C4C4;
	padding-left:6px;
	font-size:14px;
	border-radius: 2px;
}
.get-coordinates-map{
	width: 500px;
	height: 300px;
}
.strip-part-parent{
	width:100%;
	height:55px;
	padding:12px;
}
.strip-part-child{
	height:100%;
	width:100%;
	border-radius: 2.5px;	
}

.switch-cat{
	background-color: white;
	border-radius: 2.5px;
}
.switch-cat-active{
	background-color: #3498DB;
	border-radius: 2.5px;
	color:white;
}
.switch-cat-active button{
	height: 100%;
	width: 100%
	background-color: #3498DB;
	color:white;
}