
<section ng-init="init()">
<!--Map-->
<div class="map-wrapper">
  <!--Interactive Image-->
  <div  ng-if="isInteractiveMap" style="width:100%;height:100%;">
    <ng-map zoom="{{mapOptions.zoom}}" center="{{mapOptions.center}}" style="width:100%;height:100%;">    

      <!--Markers-->
      <marker  ng-repeat="calederEvent in eventsMap | limitTo:10" position="{{calederEvent.coordinates}}"  on-click="showDetails(calederEvent)" id="{{calederEvent._id}}"  title="{{calederEvent.sno}}. {{calederEvent.title}}"></marker> 

      <!--Info Window-->
      <info-window id="infowindowid">
          <div ng-non-bindable>         
            <div id="infobodyContent">
              <div class="each-line cf">
                <div class="pull-left">
                {{InfoWindowContent.startDate | formatstartdate}} - {{InfoWindowContent.endDate | formatenddate}}
                </div>
                <div class="pull-right event-cat-name">
                {{InfoWindowContent.category}}
                </div>
              </div>

              <div class="each-line cf">
                <div class="pull-left">
                  <strong>{{InfoWindowContent.title}}</strong>
                </div>
                <div class="pull-right event-cat-name" style="margin-right:26px;">
                  {{InfoWindowContent.sno}}
                </div>
              </div>

              <div class="each-line cf">
                <div class="pull-left">
                  <strong>{{InfoWindowContent.address}} / {{InfoWindowContent.country | getcountrycode}}</strong>
                </div>                
              </div>

              <div class="each-line cf" style="margin-top:20px;">
                <div class="pull-left">
                  <strong>{{InfoWindowContent.description | limittext}}</strong>
                </div>                
              </div>
              
              <div class="each-line cf">
                <div class="pull-left">
                  <button ng-click="rsvpMe()" class="default-inputfield show-map-btn">RSVP</button>
                </div>                
              </div>
            </div>
          </div>
        </info-window>
      
    </ng-map>
  </div>

  <!--Static Image-->
  <div ng-if="!isInteractiveMap" style="width:100%;height:100%;position:relative;">
    <img id="selectd-file-img"  style="height:100%;">
    <div style="position:absolute;left:40%;bottom:10%;">
      <button ng-click="activateInteractiveMap()" class="default-inputfield map-activate-btn" style="padding:7px 14px 7px 14px;">Click to activate</button>
    </div>
  </div>

</div>
<!--/Map--> 

<!--Search Strip-->
<div class="search-wrapper">
  <div class="container">   
      <div class="row">  

        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-5">
          <div class="strip-part-parent flex-row">
     
              <div style="flex:5;height:100%;">
                <div class="vertical-center" style="height:100%;width:100%;background-color:white;border-radius:2px;">
                  <input places-auto-complete ng-model="searchAddress"   on-place-changed="placeChanged()" placeholder="Search" style="height:100%;width:100%;padding-left:3px;font-size:16px;border-radius:2px;padding-right:3px;" class="default-inputfield"/>
                </div>
              </div>

              <div class="visible-xs" style="flex:0.5;width:20px;height:100%;margin-left:20px;">
                <div ng-click="getCurrentLocation()" class="flex-column-center strip-part-child" style="cursor:pointer;background-color:white;" data-toggle="tooltip" title="Use my place">
                   <i class="fa fa-crosshairs" aria-hidden="true"></i>
                </div>
              </div>

              <div style="flex:2;width:100px;height:100%;margin-left:20px;">
                <!--Desktops and Tabs-->
                <div ng-if="!isMobile" class="flex-row strip-part-child">
                  <div class="flex-column-center flex-equal-items switch-cat" ng-class="{'switch-cat-active':activeCategory=='CatA'}" style="height:100%;">
                    <button ng-click="toggleCategory('CatA')" class="default-inputfield" style="background-color:transparent;">CatA</button>
                  </div>
                  <div class="flex-column-center flex-equal-items switch-cat" ng-class="{'switch-cat-active':activeCategory=='CatB'}" style="height:100%;margin-left:6px;">
                    <button ng-click="toggleCategory('CatB')" class="default-inputfield" class="default-inputfield" style="background-color:transparent;">CatB</button>
                  </div>
                </div>

                <!--Mobile-->
                <div ng-if="isMobile" class="flex-row strip-part-child">
                  <select ng-model="activeCategory" ng-change="toggleCategory(activeCategory)" class="default-inputfield" style="height:100%;width:100%;border-radius: 2.5px;background-color:white;">
                    <option ng-selected="activeCategory!='CatA' && activeCategory!='CatB'">Category</option>
                    <option ng-selected="activeCategory=='CatA'">CatA</option>
                    <option ng-selected="activeCategory=='CatB'">CatB</option>
                  </select>
                </div>
              </div>
            
          </div>
        </div>

      </div>
  </div>      
</div>
<!--/Search Strip-->
</section>

<section class="event-wrapper">
  <div ng-show="!loadingList" class="container">   
    <div class="row">
      <div ng-show="eventListCatA.length>0" class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">

        <!--Category Header-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="event-header flex-column-center">
              <span style="font-weight:700; color:#6B6B6B;">Cat A</span>
            </div>
          </div>
        </div>
        <!--Category Header-->

        <!--Events List-->
        <div class="row">
          <!--Each Event Box-->
          <div ng-repeat="event in eventListCatA | orderBy:'sortOrder' | limitTo:10" ng-show="event.category=='CatA'" class="col-xs-6 col-sm-6 col-md-6">
            <div class="event-bx">
                <div class="each-line cf">
                  <div class="pull-left">
                  {{event.startDate | formatstartdate}} - {{event.endDate | formatenddate}}
                  </div>
                  <div class="pull-right event-cat-name">
                  {{event.category}}
                  </div>
                </div>

                <div class="each-line cf">
                  <div class="pull-left">
                    <strong>{{event.title}}</strong>
                  </div>
                  <div class="pull-right event-cat-name" style="margin-right:26px;">
                  {{event.sno}}
                  </div>
                </div>

                <div class="each-line cf">
                  <div class="pull-left">
                    <strong>{{event.address}} / {{event.country | getcountrycode}}</strong>
                  </div>                
                </div>

                <div class="each-line cf" style="margin-top:20px;">
                  <div class="pull-left">
                    <strong>{{event.description | limittext}}</strong>
                  </div>                
                </div>
                
                <div class="each-line cf">
                  <div class="pull-left">
                    <button ng-click="showDetails($event,event)" class="default-inputfield show-map-btn">Show on map</button>
                  </div>                
                </div> 
              </div>
          </div>          
          <!--/Each Event Box-->                 
        </div>
        <!--Events List-->
      
      </div>

      <div ng-show="eventListCatB.length>0" class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">

        <!--Category Header-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="event-header flex-column-center">
              <span style="font-weight:700; color:#6B6B6B;">Cat B</span>
            </div>
          </div>
        </div>
        <!--Category Header-->

        <!--Events-->
        <div class="row">
          <!--Each Event Box--> 
          <div ng-repeat="event in eventListCatB | orderBy:'sortOrder' | limitTo:10" ng-show="event.category=='CatB'" class="col-xs-12 col-sm-12 col-md-12">

              <div class="event-bx">
                <div class="each-line cf">
                  <div class="pull-left">
                  {{event.startDate | formatstartdate}} - {{event.endDate | formatenddate}}
                  </div>
                  <div class="pull-right event-cat-name">
                  {{event.category}}
                  </div>
                </div>

                <div class="each-line cf">
                  <div class="pull-left">
                    <strong>{{event.title | limittext}}</strong>
                  </div>
                  <div class="pull-right event-cat-name" style="margin-right:26px;">
                  {{event.sno}}
                  </div>
                </div>

                <div class="each-line cf">
                  <div class="pull-left">
                    <strong>{{event.address}} / {{event.country | getcountrycode}}</strong>
                  </div>                
                </div>

                <div class="each-line cf" style="margin-top:20px;">
                  <div class="pull-left">
                    <strong>{{event.description | limittext}}</strong>
                  </div>                
                </div>
                
                <div class="each-line cf">
                  <div class="pull-left">
                    <button ng-click="showDetails($event,event)" class="default-inputfield show-map-btn">Show on map</button>
                  </div>                
                </div> 
              </div>               
            </div> 
           <!--/Each Event Box-->      
        </div>
        <!--Events-->

      </div>

    </div>
  </div>

  <!--While Loading-->
  <div ng-show="loadingList || (eventListCatB.length==0 && eventListCatA.length==0)" style="width:100vw;height:38.6vh;" class="flex-column-center">   
    <div ng-if="loadingList">
      <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>     
    </div>
    <div ng-if="!loadingList && eventListCatB.length==0">
      <span style="font-size:18px; color:#C1C1C1;">No Events found</span>    
    </div>
  </div>  

</section>
