
<section ng-init="init()">
<!--Map-->
<div class="map-wrapper">
  <ng-map center="[40,30]" zoom="2">
   <marker  ng-repeat="calenderEvent in eventsMap" id="marker-{{$index}}" position="{{calenderEvent.coordinates}}" on-click="showMsudydu($event)"></div>

    <info-window id="bar" position="41.850033,-87.6500523" max-width="200">
      <div ng-non-bindable>
        <div id="siteNotice"></div>
        <h1 id="firstHeading" class="firstHeading">Uluru</h1>
        <div id="bodyContent">
          <p>
          <b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large
          sandstone rock formation in the southern part of the
          Northern Territory, central Australia. It lies 335 km (208 mi)
          south west of the nearest large town, Alice Springs; 450 km
          (280 mi) by road. Kata Tjuta and Uluru are the two major
          features of the Uluru - Kata Tjuta National Park. Uluru is
          sacred to the Pitjantjatjara and Yankunytjatjara, the
          Aboriginal people of the area. It has many springs, waterholes,
          rock caves and ancient paintings. Uluru is listed as a World
          Heritage Site.
          </p>
          <p>Attribution: Uluru,
          <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">
            http://en.wikipedia.org/w/index.php?title=Uluru
          </a>
          (last visited June 22, 2009).</p>
        </div>
      </div>
    </info-window>

  </ng-map>
</div>
<!--/Map--> 

<!--Search Strip-->
<div class="search-wrapper">
  <div class="container">   
      <div class="row">

        <div class="col-xs-6 col-sm-7 col-sm-offset-1 col-md-5 col-md-offset-4">
          <div class="strip-part-parent">
            <div class="strip-part-child">
              <div class="vertical-center" style="height:100%;width:100%;background-color:white;">
              SEARCH
              </div>
            </div>
          </div>
        </div>

        <div class="visible-xs col-xs-2">
          <div class="strip-part-parent">
            <div class="flex-column-center strip-part-child" style="background-color:white;">
              <i class="fa fa-crosshairs" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="col-xs-4 col-sm-3 col-md-2">
          <div class="strip-part-parent">
            <div class="flex-row strip-part-child">
              <div class="flex-column-center flex-equal-items switch-cat" ng-class="{'switch-cat-active':activeCategory=='CatA'}" style="height:100%;">
                <button ng-click="toggleCategory('CatA')" class="default-inputfield" style="background-color:transparent;">CatA</button>
              </div>
              <div class="flex-column-center flex-equal-items switch-cat" ng-class="{'switch-cat-active':activeCategory=='CatB'}" style="height:100%;margin-left:6px;">
                <button ng-click="toggleCategory('CatB')" class="default-inputfield" class="default-inputfield" style="background-color:transparent;">CatB</button>
              </div>
            </div>            
          </div>
        </div> 

      </div>
  </div>      
</div>
<!--/Search Strip-->
</section>

<section class="event-wrapper">
  <div class="container">   
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">

        <!--Category Header-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="event-header flex-column-center">
              <span style="font-weight:700; color:#6B6B6B;">Cat A</span>
            </div>
          </div>
        </div>
        <!--Category Header-->

        <!--Events List-->
        <div class="row">
          <!--Each Event Box-->
          <div ng-repeat="event in eventListCatA | orderBy:'sortOrder'" ng-show="event.category=='CatA'" class="col-xs-6 col-sm-6 col-md-6">
            <div class="event-bx">
                <div class="each-line cf">
                  <div class="pull-left">
                  {{event.startDate | formatstartdate}} - {{event.endDate | formatenddate}}
                  </div>
                  <div class="pull-right event-cat-name">
                  {{event.category}}
                  </div>
                </div>

                <div class="each-line cf">
                  <div class="pull-left">
                    <strong>{{event.title}}</strong>
                  </div>
                  <div class="pull-right event-cat-name" style="margin-right:26px;">
                  {{$index+1}}
                  </div>
                </div>

                <div class="each-line cf">
                  <div class="pull-left">
                    <strong>{{event.address}} / {{event.country | getcountrycode}}</strong>
                  </div>                
                </div>

                <div class="each-line cf" style="margin-top:20px;">
                  <div class="pull-left">
                    <strong>{{event.description | limittext}}</strong>
                  </div>                
                </div>
                
                <div class="each-line cf">
                  <div class="pull-left">
                    <button class="default-inputfield show-map-btn">Show on map</button>
                  </div>                
                </div> 
              </div>
          </div>          
          <!--/Each Event Box-->                 
        </div>
        <!--Events List-->
      
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">

        <!--Category Header-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="event-header flex-column-center">
              <span style="font-weight:700; color:#6B6B6B;">Cat B</span>
            </div>
          </div>
        </div>
        <!--Category Header-->

        <!--Events-->
        <div class="row">
          <!--Each Event Box--> 
          <div ng-repeat="event in eventListCatB | orderBy:'sortOrder'" ng-show="event.category=='CatB'" class="col-xs-12 col-sm-12 col-md-12">

              <div class="event-bx">
                <div class="each-line cf">
                  <div class="pull-left">
                  {{event.startDate | formatstartdate}} - {{event.endDate | formatenddate}}
                  </div>
                  <div class="pull-right event-cat-name">
                  {{event.category}}
                  </div>
                </div>

                <div class="each-line cf">
                  <div class="pull-left">
                    <strong>{{event.title}}</strong>
                  </div>
                  <div class="pull-right event-cat-name" style="margin-right:26px;">
                  {{$index+1}}
                  </div>
                </div>

                <div class="each-line cf">
                  <div class="pull-left">
                    <strong>{{event.address}} / {{event.country | getcountrycode}}</strong>
                  </div>                
                </div>

                <div class="each-line cf" style="margin-top:20px;">
                  <div class="pull-left">
                    <strong>{{event.description | limittext}}</strong>
                  </div>                
                </div>
                
                <div class="each-line cf">
                  <div class="pull-left">
                    <button class="default-inputfield show-map-btn">Show on map</button>
                  </div>                
                </div> 
              </div>               
            </div> 
           <!--/Each Event Box-->      
        </div>
        <!--Events-->

      </div>

    </div>
  </div>
</section>